html {
    scroll-behavior: smooth;
  }
body {
    opacity: 1;
    transition: 2s opacity;
    color: red;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.moving_div1{
    height: 50px;
    width: 50px;
    position: relative;
}

@keyframes my_move {
  0%   {top: 0px; left: 0px; }
  25%  {top: 0px; left: 450px; }
  100% {top: 0px; left: 0px;}
}
.zoomer {
    height: 451px;
    width: 451px;
    margin-left: 350px;
}
.zoomer:hover {

    transform: scale(1.5);
}

#slideshow{
    margin: 50px auto;
    position: relative;
    width: 300;
    height: 300;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0,0.4);
}

#slideshow > div {
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    background-color: yellow;
}